{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Round: {{ round }}</h2>
            <ul>
                {% for bee in bees %}
                    <li>{{ bee.type }} | {{ bee.health }}</li>
                {% endfor %}
            </ul>
            <form id="hitForm" method="POST">
                <input name="hit" type="submit" value="Hit!">
            </form>
        </div>
    </div>
{% endblock %}
